@using DayTasksPrioritizer.Models

@model TasksModel

@{
    ViewBag.Title = "Seek goals, prioritize";
    int position = 0;
}

<h2 style="text-align: center;">GOALS BY PRIORITY</h2>

<form id="formId" action="@Url.Action("Index", "Tasks")" method="POST">

    <ul class="list-group">
        @foreach (var task in Model.TasksList.OrderByDescending(t => t.Priority))
{
    <li class="list-group-item">@(++position). @task.Name</li>
            <input type="hidden" name="goals" value="@task.Name" />
        }
    </ul>

    <br />
    
    <div class="btn-group">
        <a type="button" class="btn btn-default btn-sm" href="javascript:document.title='Goals by priority';window.print();">PRINT</a> 
        <a id="addMoreGoals" class="btn btn-default btn-sm" type="submit" href="#">ADD MORE</a> 
        <a type="button" class="btn btn-default btn-sm" href="@Url.Action("Index", "Tasks")">FRESH START</a>
    </div>
</form>

<script>
    $(function () {

        $("#addMoreGoals").click(function (event) {
            
            event.preventDefault();
            $("#formId").submit();

        });

    });
</script>