@using DayTasksPrioritizer.Models

@model TasksModel

@{
    ViewBag.Title = "Tikslai (užduotys, darbai) pagal prioritetą";
    int position = 0;
}

<h2 style="text-align: center;">TIKSLAI PAGAL PRIORITETĄ</h2>

<form id="formId" action="@Url.Action("Index", "Tasks")" method="POST">

    <ul class="list-group">
        @foreach (var task in Model.TasksList.OrderByDescending(t => t.Priority))
{
    <li class="list-group-item">@(++position). @task.Name</li>
            <input type="hidden" name="goals" value="@task.Name" />
        }
    </ul>

    <br />
    
    <div class="btn-group">
        <a type="button" class="btn btn-default btn-sm" href="javascript:document.title='Tikslai (užduotys, darbai) pagal prioritetą';window.print();">SPAUSDINTI</a> 
        <a id="addMoreGoals" class="btn btn-default btn-sm" type="submit" href="#">PAPILDYTI</a> 
        <a type="button" class="btn btn-default btn-sm" href="@Url.Action("Index", "Tasks")">PRADĖTI IŠ NAUJO</a>
    </div>
</form>

<script>
    $(function () {

        $("#addMoreGoals").click(function (event) {
            
            event.preventDefault();
            $("#formId").submit();

        });

    });
</script>