@using DayTasksPrioritizer.Models;

@model KeyValuePair<int, List<TaskModel>>

@{
    ViewBag.Title = "Prioritize";
}
 
<div style="text-align: center;">
    <h2>What is more important?</h2>

    <a id="@Model.Key" type="button" href="@Url.Action("Prioritize", "Tasks", new { sequance = Model.Key, taskName = Model.Value[0].Name })">@Model.Value[0].Name</a>
    or
    <a id="@Model.Key" type="button" href="@Url.Action("Prioritize", "Tasks", new { sequance = Model.Key, taskName = Model.Value[1].Name })">@Model.Value[1].Name</a>
</div>
